* {
    box-sizing: border-box;
    font-size: 35px;
}

body {
    display: flex; /* we want columns */
    justify-content: center;
    align-items: center;
    height: 100vh; /* neccessary to get everything to centre */
}

.container {
    border: 2px solid rgb(207, 206, 206);
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(243, 240, 240);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screen {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

button {
    width: 80px;
    height: 70px;
    margin: 3px;
    border-radius: 50%; /* makes grid buttons circular, special buttons oval */
    border: 0px;
    background-color: rgb(224, 223, 223);
}

.special-buttons {
    display: flex;
}
.special-buttons button {
    flex-grow: 1; /* fills whole flex parent container */
}